// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Estilos para o Login/Register Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f5f5f5; /* Um fundo leve */
}

mat-card {
  width: 400px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button[type="submit"] {
  width: 100%;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}


.snackbar-success {
  background-color: #4caf50;
  color: white;
}

.snackbar-error {
  background-color: #f44336;
  color: white;
}
