.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.main-content {
  padding: 24px;
  background-color: #f5f5f5;
  height: 100%;
}
