mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

form {
  padding-top: 10px;
}

.dialog-loading-shade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
